<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" routerLink="/" id="spotiAppHomeIcon">
               <img src="../../assets/img/banner-ico.png" width="30" height="30" alt="">
             </a>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" routerLink="/" id="spotiAppHome">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" routerLink="/search" id="spotiAppBuqueda">Search</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
