nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #343a40 !important;
  color:white;
}

a.nav-link.active {
  color: white !important;
}

a.nav-link {
  color: #888383 !important;
}

a.nav-link:hover {
  color: white !important;
}
